body {
    width: 100%;
    background: #e6e6e6;
}
#container {
    width: 40%;
    margin: 10% auto;
}
#calculator {
    width: 100%;
    text-align: center;
    background: #0e0d0d;
    border:0.5px solid #4c4c4c;
    border-radius: 6px;
    padding: 10px;
}
h1 {
    font-family: Lobster;
    color: tomato;
    text-align: center;
}
#res {
    width: 98%;
    margin: auto;
    background-color:  #4D5C3D;
    height: 1.6em;
    line-height: 1.6em;
    font-size: 2em;
    border: black 0.5px solid;
    border-radius: 6px;
    margin-bottom: .4em;
    margin-top: .2em;
}
button {
    width: 24%;
    font-size: 1.4em;
    border-radius: 6px;
    background:#4c4c4c;
    color: white;
}
button:hover {
    background: #929090;
}

